body {
    background: linear-gradient(to bottom, rgb(49, 49, 229),black);
    background-repeat: no-repeat;
}
.kezdo {
    text-align: center;
}
.vegig {
    width: 60%;
    background-color: white;
    color: black;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
.hiv1 {
    float: left;
}
.hiv2 {
    float: right;
}
